<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE Plugin SYSTEM "..\Plugin.dtd" [
]>
<Plugin xml="http://www.w3.org/XML/1998/namespace">

  <PluginProperties NameIDS="100"
    AuthorIDS="101"
    HelpFileNameS=""
    AboutTextIDS="101" />

  <ModuleGroup id="1"
    NameIDS="200"
    PositionAfterIDS="201" >

    <Module id="2"
      NameIDS="100"
      ACTB_TaskNameIDS="0010" ACTB_GroupNameIDS="0011">
      <Toolbar NameS="Create">
      </Toolbar>
    </Module>
  </ModuleGroup>
  <StringTable xml:lang="en">
    <text ids="200">AddOn</text>
  </StringTable>
</Plugin>